# Telegram
BOT_TOKEN=ToKEnToKEnToKEnToKEnToKEnToKEnToKEnToKEn
BOT_USERNAME=NaMeNaMeNaMeNaMeNaMeNaMe

# Confluence
CONFLUENCE_BASE_URL=https://wiki.company.dot
CONFLUENCE_TOKEN=ToKEnToKEnToKEnToKEnToKEnToKEnToKEnToKEn

# Application
DEBUG=true
LOG_LEVEL=DEBUG